
.titel{
  transform: skew(336deg);
  text-shadow: 10px 5px #222;
 font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 88px;
  text-align: center ;
  line-height: 0.8;
  display: flex;
    justify-content:top;
            align-items: top; 
            height: 100vh; 
            margin: 0; 
            padding-left: 50px;
             -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(28, 9, 113);
}
main {
  background-color: #00c;
  color: white;
  width: 700px;
  height: 1000px;
background: radial-gradient(circle,  blue, darkblue);
  
}
.yellow {
  font-weight: 800;
  font-size:75px;
  height: 135px;
  width:692px;
  background-image: url("yellocropped.png");
  background-size: cover;
  background-position: top center;
  color:red;
  padding:4px;
  font-family: "Work Sans", serif;
}
.red{ 
  color:red;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size:50px;
  text-align: center ;
  display: flex;
    justify-content:center;
            align-items: center; 
            font-family: "Herr Von Muellerhoff", serif;
            font-weight: 1000;

         
  
}

.space-above {
  padding-top: 45px;
}