/* Code for all screen sizes */
/* Main container styling */
.titel{
  transform: skew(336deg);
  text-shadow: 10px 5px #222;
 font-family: "Alegreya Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 100px;
  text-align: center ;
  line-height: 0.8; 
  display: flex;
    justify-content:center;
            align-items: center; 
           
            margin: 0; 
            
             -webkit-text-stroke-width: 5px;
  -webkit-text-stroke-color: rgb(24, 9, 103);
}
main {
  background-color: #00c;
  color: white;
  width: 700px;
  height: 978px;
background: radial-gradient(circle,  blue, darkblue);
margin: auto;

  
}
.yellow {
  font-weight: 800px;
  font-size:75px;
  height: 135px;
  width:693px;
  background-image: url("yellocropped.png");
  background-size: cover;
  background-position: bottom center;
  color:red;
  padding:4px;
  font-family: "Work Sans", serif;
}
.red{ 
  color:red;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  font-size:50px;
  text-align: center ;
  display: flex;
    justify-content:center;
            align-items: center; 
            font-family: "Great Vibes", cursive;
            font-weight: 1000;
            transform: skew(336deg);

         
  
}

.space-above {
  padding-top: 45px;
}

img {
  height: 650px;
  transform: skewY(13deg);
  width: 700px; 
   margin-top: -95px;
   float: right;
  
   
}
.short-line {
  border-left-width: 50px;    
  border-bottom-width: 4px;
  border-style: solid;
  border-right-color: rgb(255, 119, 0); 
  border-bottom-color: rgb(255, 119, 0); 
  border-top-color: transparent;
  border-left-color: transparent;
  width: 0;
  height: 0;
   position: relative;
  top: -60px;        
  left: 185px; 
   transform: skewY(350deg);
}
    
   /* BEGIN MOBILE RULES */
@media only screen and (max-width: 768px) {
  /* Code for mobile phones only: */
  .titel {
    font-size:40px; 
    padding-left: 20px; 
    text-shadow: 2px 1px #222;
    transform: skew (0deg);
  }

  main {
    width: 350px; 
    height: 550px;
  }

  .yellow {
    font-size: 40px; 
    height: 70px;
    width: 90vw; 
    padding: 2px;
    font-weight: px;
  }

  img {
    height: 75vh; 
    width: 100vw; 
    margin-top: -80px;
  }
  .red{
    font-size: 30px;
  }
  .short-line {
    position: relative;
  top: -60px;        
  margin-left: 85px; 
   border-left-width: 25px;    
  border-bottom-width: 2px;
  
  }




/* Main container styling */


  /* Mobile label */
  main::before {
    content: "Mobile";
    background-color: #c8787888;
  }
  /* End mobile label */
}

/* BEGIN MEDIUM WIDTH RULES */
@media only screen and (min-width: 768px) and (max-width: 1399px) {
  /* Code for medium width and bigger : */


  /* Laptop label */
  main::before {
    content: "Laptop";
    background-color: #45454588;
  }
  /* End laptop label */
}

/* BEGIN WIDE SCREEN RULES */
@media only screen and (min-width: 1400px) {
  /* Code for wide screen only */



  /* Widescreen label */
  main::before {
    content: "Wide";
    background-color: #00438888;
  }
  /* End widescreen label */
}

/* BACK TO CODE FOR ALL SIZES */

/* Code to insert circular label label to show how responsive code is working on lower right */
main::before {
  position: fixed;
  bottom: 2px;
  right: 2px;
  color: #efefef;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-family: Helvetica, sans-serif;
  font-size: 8pt;
  display: flex;
  align-items: center;
  justify-content: center;
}
